.StatsPage {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;

	> div {
		text-align: center;
		padding: 0;
		width: 100%;

		label {
			background-color: #006;
			padding: 2px 8px;
			display: block;
			color: #eee;
			font-size: 14px;
			font-weight: 500;
		}

		span {
			background-color: #448;
			padding: 3px 8px 0;
			color: #eee;
			font-size: 12px;
			font-weight: 300;
			display: block;
			text-align: center;
			border-bottom: 3px solid #226;
		}
	}
}
