.ArmyPage {
	button:not(:disabled) {
		background-color: #cf5000;
		color: #eee;
	}
	button {
		border-bottom: 3px solid #730;
		height: 43px;
		font-size: 18px;
	}
}

.purchaseRow {
	display: grid;
	grid-template-columns: 10fr 2fr;
}

.autobuyBtn {
	background-color: #0077d0 !important;
	font-size: 12px !important;

	&:disabled {
		background-color: #bbbbbb !important;
		border-left: 2px solid #730;
	}
}
