.MessageList {
	background-color: #336;
	overflow-y: scroll;
	padding: 5px;
}

.Message {
	color: #eee;
	margin: 3px 0;
	font-size: 14px;
	animation: fadein 1.5s;

	/*  must keep height set consistently.
		if height isnt consistent and font size changes,
		this will cause message list autoscrolling to break randomly
		due to message height changing as message spawns in */
	height: 16px;
}

@keyframes fadein {
	from {
		opacity: 0;
		font-size: 12px;
	}
	to {
		opacity: 1;
		font-size: 14px;
	}
}
