.GameTooltip {
	background-color: #f5f5f9;
	color: rgba(0, 0, 0, 0.87);
	max-width: 220px;
	font-size: 14px;
	border: 1px solid #dadde9;
}
.Name {
	font-weight: bold;
}
.Properties {
	margin: 10px 0 0 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}
