.AnimatedText {
	animation-duration: 1.9s;
	animation-fill-mode: both;
	&.animating {
		animation-name: flash;
	}
}

@keyframes flash {
	0% {
		opacity: 0.15;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
