.ProgressButton {
	padding: 6px;
	cursor: pointer;
	font-size: 22px;
	background-color: #aaaa66;
	color: #222;
	border: 0;
	display: block;
	font-size: 22px;
	text-decoration: none;
	user-select: none;
	width: 100%;
	text-align: center;
	position: relative;
	height: 100%;

	&:disabled {
		background-color: #bbbbbb;
		color: #666;
		cursor: not-allowed;
	}

	.progressBar {
		margin-left: -6px; // same as left-padding on parent ProgressButton container
		margin-top: -6px; // same as top-padding on parent ProgressButton container
		height: 100%;
		background-color: #559;
		position: absolute;
		opacity: 0.5;
		&.animated {
			transition: width 1s ease-in-out;
		}
	}
}
